/* MAIN CSS */

@import url(css/mobile.css);
/* ANIMATION */
@import url(css/animation.css);
@import url(css/loading.css);
/* ANIMATION */

:root {
  /* COLOR */
  --bg: #607ea0;
  --font-color: #cccccc;
  --navlinkcolor: #000000a9;
  /* FONT FAMILY */
  --Lato: "Lato", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
  --Helvetica: Helvetica, sans-serif;
  --styleFont: "The Nautigal", cursive;
  /* DARK MODE */
  --changeBg: #0c0c0c;
  /* SECTION BG */
  --bgColor: #213c55;
  --bgDark: #276656;
  --secBG: var(--bgColor);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  min-height: 100vh;
}

/* For Mobile Phones */

/* NAV ICON */

.navbar-mobile-fixed {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: var(--bg);
  border-radius: 0 0 15px 15px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  z-index: 5;
}

.open-icon,
.close-icon {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: all 300ms ease-in-out;
  z-index: 100;
}
.hide-icon {
  transform: scale(0);
}
.show-icon {
  transform: scale(1);
}

.nav-logo-link {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 6;
  /* border: 1px solid; */
}
.nav-logo-link img {
  width: 50px;
  height: 50px;
}
.logo-desc {
  font-family: var(--styleFont);
  font-size: 50px;
  position: absolute;
  color: transparent;
  top: 0;
  left: 35px;
  background-image: linear-gradient(90deg, #f3f3f3, #d1d1d1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

/* NAVBAR MOBILE */
.navigation-link {
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: -100%;
  right: 100%;
  bottom: 0;
  z-index: 99;
  transition: all 300ms ease-in-out;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.ul-mobile {
  background-color: var(--navlinkcolor);
  margin: 80px 0 20px;
  padding: 0.5rem;
  border-radius: 15px;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  max-width: 100%;
}

.link-mobile {
  color: var(--font-color);
  font-family: var(--Lato);
  font-size: 16px;
  display: block;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 0;
  border-radius: 15px;
}

.nav-link-middle {
  border-radius: 15px;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  width: 100%;
}

/* MUSIC */

.music-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.music-box {
  background-color: var(--navlinkcolor);
  /* --- */
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  grid-gap: 16px;
  position: relative;
  border-radius: 15px;
  padding: 8px 24px;
}

.control,
#current {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}
#playbtn {
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--font-color);
  cursor: pointer;
  border: 1px solid;
}
#playbtn:hover {
  -webkit-text-fill-color: var(--font-color);
}
.music-info {
  display: flex;
  font-size: 16px;
  font-family: var(--Lato);
  letter-spacing: 0.5px;
  color: var(--font-color);
  overflow: hidden;
  margin: auto;
}

#current {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  color: var(--font-color);
}
.music-bar {
  --space: -4px;
  overflow: hidden;
  left: var(--space);
  right: var(--space);
  top: var(--space);
  bottom: var(--space);
  position: absolute;
  border-radius: 15px;
  z-index: -1;
}
.progress-music-bg {
  width: var(--progress, 0%);
  background-color: #2c3e53;
  transition: all 1s linear;
  height: 100%;
}

.fa-moon {
  position: fixed;
  top: 20px;
  right: 90px;
  background-color: rgba(0, 0, 0, 0.274);
  color: var(--font-color);
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* MEDIA QUERY  */

/* MEDIA QUERY  */

/* FUNCTION ELEMENT */
.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.left-min {
  left: 0;
  right: 0;
  opacity: 1;
}
.dark-mode-ul {
  background-color: #000000;
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.514),
    inset -3px -3px 6px #ffffff6b;
}
.link-mobile-dark {
  color: #dfdfdf;
}
.toggle-switch-dark {
  background-color: #36363665;
}

.change-logo-desc {
  background-image: linear-gradient(90deg, #74bb83 80%, #adac5a);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.music-progress-dark {
  background-color: #3c6e4b;
}

.dark-bg {
  background-image: linear-gradient(315deg, #000000 0%, #131620 74%);
}
/* FUNCTION ELEMENT */
