/* 
MAIN CSS
Author : Fathurrahman Muhammad
*/
:root {
  /* background */
  --darkBg: #1f252c;
  --lightBg: #54708f;
  --bg: var(--lightBg);
  --navBg: #47607e;
  --bgAnim: #00000011;
  /* FONT */
  --popin: "Poppins", sans-serif;
  --styleFont: "The Nautigal", cursive;
  /* COLOR */
  --fontDark: #adadad;
  --fontLight: #c9c9c9;
  --fontColor: var(--fontLight);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--popin);
  transition: all 300ms ease;
}
::-webkit-scrollbar {
  display: none;
}
::selection {
  background: black;
}
::-moz-selection {
  background: black;
}
body,
html {
  background: var(--bg);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  scroll-behavior: smooth;
}
h1 {
  font-weight: 500;
}
h1,
p {
  color: var(--fontColor);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--fontColor);
}
img {
  width: 100%;
  height: auto;
}
/*
.
.
.
NAVIGATION 
.
.
.
*/
.nav-container {
  /* width: 100%; */
  height: 60px;
  background: var(--navBg);
  box-shadow: 0 3px 5px #00000056, 0 -3px 5px #00000056;
  border-radius: 0 0 15px 15px;
  z-index: 99;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 3px;
  right: 3px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav-logo > a {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-logo > a > img {
  width: 40px;
  height: 40px;
}
.nav-logo > a > p {
  font-family: var(--styleFont);
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: -10px;
}
.ul-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.nav-link {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
.nav-link > i {
  letter-spacing: 5px;
}
.ul-container > li:nth-of-type(5) > a {
  margin-right: 0;
}
.toggle-container {
  height: 100%;
  display: flex;
  padding: 0 0 0 1.5rem;
}
.toggle-dark-mode,
.toggle-nav {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
#toggle-dark {
  color: var(--fontColor);
  font-size: 45px;
  cursor: pointer;
  transition: all 300ms ease;
  text-shadow: 0 0 10px #00000048;
}
.toggle-nav {
  display: none;
  width: 40px;
  height: 100%;
}
.toggle-nav > img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(1) rotateY(0);
}
.nav-mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 98;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 79px 1rem 1rem;
  flex-direction: column;
  align-items: flex-end;
  overflow: scroll;
  display: none;
  transform-origin: top;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.3s ease;
}
.show-nav-mobile {
  opacity: 1;
  transform: scale(1);
}
.nav-mobile {
  display: grid;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.596);
  border-radius: 15px;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}

/*
.
.
.
MAIN CONTENT 
.
.
.
*/
#contact-id {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 63px;
}
.contact-wrap {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.contact-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
}
.box {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.left {
  width: 50%;
  padding: 0 2rem 0 0;
}
.contact-social {
  margin: 0.5rem 0;
  display: flex;
}
.contact-social > a > i {
  font-size: 25px;
  margin-right: 8px;
}

.right {
  width: 50%;
}
.form-gmail {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.form-gmail > input {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  margin: 0 0 1rem;
  padding: 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--bg);
  box-shadow: inset 3px 3px 5px #00000038, inset -3px -3px 5px #ffffff25;
  color: var(--fontColor);
  font-size: 15px;
}
.form-gmail > input::placeholder {
  color: #aaaaab;
  font-size: 14px;
}
.form-gmail > textarea::placeholder {
  color: #aaaaab;
  font-size: 14px;
}

#msg {
  max-width: 400px;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: var(--bg);
  box-shadow: inset 3px 3px 5px #00000038, inset -3px -3px 5px #ffffff25;
  height: 200px;
  font-size: 15px;
  color: var(--fontColor);
}

#submit-btn {
  max-width: 400px;
  box-shadow: 3px 3px 5px #00000038, -3px -3px 5px #ffffff25;
  border-radius: 20px;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: var(--bg);
  color: var(--fontColor);
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}
.form-gmail > button:active {
  box-shadow: none !important;
}
.sending-msg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--navBg);
  width: 100%;
  max-width: 400px;
  height: 250px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 5px #000000a2;
  transform-origin: center;
}
.sending-msg > p {
  font-size: 14px;
}
.lds-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  margin: 8px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
.
.
FOOTER
.
.
*/
.max-width {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}
.footer-wrap {
  overflow: hidden;
  padding: 1rem;
}
.footer-content {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.footer-title {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.footer-title > h1 {
  display: flex;
  align-items: center;
}
.footer-title > h1 > i {
  margin-left: 5px;
}
.footer-title > p {
  font-size: 13px;
}
.title-desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.title-desc > a {
  font-size: 12px;
  width: fit-content;
}

.footer-information {
  padding: 1rem 0 1rem;
}
.footer-information > p {
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.footer-information > a {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 2;
}
.footer-information > a > i,
span > i {
  font-size: 1rem;
  margin-left: 5px;
}
#whatsapp-btn {
  color: var(--fontColor);
  font-size: 12px;
  cursor: pointer;
}
.footer-box {
  padding: 1rem 0 1rem;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-social > p {
  padding: 0 0 0.5rem;
  font-weight: 900;
}
.footer-link > a {
  margin-left: 1rem;
}
.footer-link > a > i {
  font-size: 30px;
}
/*
.
.
.
MEDIA QUERY 
.
.
.
*/
@media only screen and (max-width: 1000px) {
  /* 
  .
  NAVBAR 
  .
  */
  .ul-container {
    display: none;
  }
  .toggle-nav {
    display: flex;
    margin: 0 0 0 1rem;
  }
  .hide-toggle {
    transform: translateY(-50%) scale(0) rotateY(180deg) !important;
  }
  .nav-mobile-container {
    display: flex;
  }
  /* 
  .
  .
  Footer
  .
  .
  */
  .footer-content {
    padding: 0;
  }
  .footer-title {
    min-width: unset;
    margin-right: 0.5rem;
  }
  .footer-link > a {
    margin: 0;
  }
  .footer-link a > i {
    font-size: 25px;
  }
  /* 
  /
  */
}
@media only screen and (max-width: 600px) {
  /* 
  .
  Footer
  .
  */
  footer {
    display: none;
  }
  /* 
  CONTACT
  */
  .box {
    flex-direction: column;
  }
  .left, .right {
    width: 100%;
  }
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form-gmail {
    margin-top: 1rem;
    padding: 0;
  }
  .form-gmail > input {
    width: 100%;
    max-width: none;
  }
  #msg, #submit-btn {
    width: 100%;
    max-width: none;
  }
}
